######------------------------------------------------
## UPDATE THIS SECTION WITH RUN SPECIFIC INFORMATION
######------------------------------------------------

#path to a csv with the follwing format:
#sample_name,unit, fast1,fast2
# # # # if the data is single end leave the fast2 column blank
# Double check README for instructions for constructing a valid sample csv table
sampleCSVpath:  /SAN/vyplab/alb_projects/data/liu_facs_neurons/Liu_facs_samples.csv

#If input data is paired-end, put 'pe' (quotes not needed), otherwise leave blank (or put dummy value that is not pe)
end_type: pe

#mouse or human
species: "human"

readLen: 250
####use "infer_experiment.py" from  /SAN/vyplab/alb_projects/tools/RSeQC/bin/infer_experiment.py on the aligned bams if you are unsure of strandedness of your data
#consult featureCounts documentation for correct string to pass
feature_counts_strand_info: "-s 0"
# one of 'fastq_qc', 'align', 'interleave_fastq_qc'
#See README for description of what each workflow involves
workflow: align



######------------------------------
## WHERE DO YOU WANT OUTPUT TO GO?
######------------------------------

#always end paths with a trailing slash, or there will be errors :)

#master directory in which output from individual rules is stored (within individual subdirectories, unless overriden below)
project_top_level: /SAN/vyplab/alb_projects/data/liu_facs_neurons/


#below you can specify the names of rulesubdirectories
#if the provided path string is RELATIVE, the string will be joined with project_top_level to form the output directory path
#if the provided path string is ABSOLUTE, the output for the given rule will be stored in the provided string (NOT WITHIN project_top_level)
#In practice leaving as relative defaults is best option...

#suggest name like <rule>_output_folder & <rule>_subdir_folder - can split key/string by '_'[0] to map keys (NO - this is way too complicated...)

fastqc_output_folder: fastqc/
fastp_trimmed_output_folder: fastp_trimmed/
star_output_folder: STAR_aligned/
merged_fastq_folder: merged_fastqs/
feature_counts_output_folder: feature_counts/
tpmcalculator_output_folder: TPMcalculator/ #this is redundant due to only outputting to working dir unless make simple rule to copy output here
interleave_master_output_folder: interleaved_fastq/



#########################
##FASTP PARAMETERS - TRIMMING HERE######
#########################
fastp_path: /SAN/vyplab/alb_projects/tools/fastp

#quality trimming is debated, and harsh cutoff can effect expression, using a soft quality trim of 10 based on this paper
#https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-016-0956-2
#use this flag if there are UMI's present, if there are, there should be a file with fastq & umi fastq present, otherwise
#additional parameters you might want to add on
fastp_parameters:
  qualified_quality_phred: 10
  #use this flag if there are UMI's present, if there are, there should be a file with fastq & umi fastq present, otherwise
  #leave this flag as an empty string: ""
  #umi: ""
  #umi_loc: /SAN/vyplab/IoN_RNAseq/Bilal_Muscle_biopsies/analysis/fastqc/



#####------------------------------
## STAR PARAMETERS
#####------------------------------

#########################
## note: I'm using hard clipping because GRAND-SLAM perfers this, star
## has a different default to perform softclipping, just be aware
#########################

extra_star_parameters:
  outSAMattributes: MD NH XS
  quantMode: GeneCounts
  outSAMtype: BAM Unsorted
  outSAMunmapped: Within
  twopassMode: Basic
  alignEndsType: EndToEnd

#DON'T CHANGE THESE UNLESS ABSOLUTELY SURE
STAR_indices: /SAN/vyplab/vyplab_reference_genomes/STAR/

#location of star exe
star_path: /SAN/vyplab/alb_projects/tools/STAR/bin/Linux_x86_64_static/STAR



#########################
##FEATURECOUNTS PARAMETERS - COUNTING HERE######
#########################



feature_counts_path: /SAN/vyplab/alb_projects/tools/subread-1.6.4-Linux-x86_64/bin/featureCounts



#########################
## TPM CALCULATOR OPTIONS
#########################

tpmcalculator_path: /SAN/vyplab/alb_projects/tools/TPMCalculator/bin/TPMCalculator

#put anything other than "true" if you're not AL
tpm_singlestep: "false"



#########################
##KALLISTO PARAMETERS - COUNTING HERE######
#########################

kallisto_indices: /SAN/vyplab/vyplab_reference_genomes/kallisto/



#########################
##FASTQC PARAMETERS######
#########################

#path to the fastqc executable
fastqc_path: /share/apps/genomics/FastQC-0.11.8/fastqc



#########################
## MULTIQC PARAMETERS
#########################

###for any additional multiqc runtime commands, if you want them it would be something like --cl_config "qualimap_config: { general_stats_coverage: [20,40,200] }", otherwise leave the parameter blank
multiqc_configparams: ""

#path to the multiqc file
multiqc_path: /share/apps/python-3.6.4-shared/bin/multiqc



#########################
## SAMTOOLS PARAMETERS - ALIGNMENT HERE######
#########################
samtools_path: /share/apps/genomics/samtools-1.9/bin/samtools



########################
## OTHER PATHS TO SCRIPT/TOOL DIRECTORIES
########################

#Path to directory containing all bbmap scripts (use os.path.join so trailing slash doesn't matter)
bbmap_path: /SAN/vyplab/alb_projects/tools/BBMap_38_86/bbmap/
